h1 {
	color: #666666;
	font-size: 5.5em;
	margin: 0;
}

h2 {
	color: #ffffff;
	margin: 0;
}

.subtitle {
	color: #ffffff;
	background-color: #666666;
	margin-bottom: 0.75em;
}

#title {
	border-top: 8px solid #666666;
	margin-top: 140px;
	padding: 30px 0 0 0;
}

#meat {
	margin-top: 23px;
}

#meat p {
	font-family: Georgia;
	font-size: 18px;
	line-height: 26px;
}

#meat span {
	background: none repeat scroll 0 0 #666666;
	padding: 1px 2px;
}

#dm {
	color: #A4F1F8;
}

#itt {
	color: #E8E741;
}

#q8 {
	color: #E68E9C;
}

#footer {
	border-top: 3px solid #666666;
	color: #666666;
	font-weight: bold;
	padding-top: 12px;
	margin-top: 12px;
	text-align: right;
}