h1 {
	color: #666666;
	font-size: 5.5em;
	margin: 0;
}

h2 {
	color: #ffffff;
	margin: 0;
}

.subtitle {
	color: #ffffff;
	background-color: #666666;
	margin-bottom: 0.75em;
}

#title {
	border-top: 8px solid #666666;
	margin-top: 80px;
	padding: 30px 0 0 0;
}

#meat {
	margin-top: 23px;
}

#meat p {
	font-family: Georgia;
	font-size: 18px;
	line-height: 26px;
}

#meat span {
	background: none repeat scroll 0 0 #666666;
	padding: 1px 2px;
}

span#dm {
	color: #A4F1F8;
}

span#itt {
	color: #E8E741;
}

span#q8 {
	color: #E68E9C;
}

span.writing-item {
	color: #53CB2D;
}

div#social-items a img {
	vertical-align: bottom;
}

span.social-item {
	color: #FFFFFF;
}

#social a {
	text-decoration: none;
}

#footer {
	border-top: 3px solid #666666;
	color: #666666;
	font-weight: bold;
	padding-top: 12px;
	margin: 12px 0 50px 0;
	text-align: right;
}